* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-image: url('image/fon3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.titulo {
  color: #000000;
  text-align: center;
  font-size: 28px;
  font-weight: 900;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-shadow: 2px 2px 0 #f50202, -2px -2px 0 #f50202, 2px -2px 0 #f50202, -2px 2px 0 #01128f;
  animation: parpadear 2s step-start infinite;
}

@keyframes parpadear {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.container {
  display: flex;
  justify-content: center;
  padding: 16px;
  margin-top: 20px;
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  width: 100%;
  max-width: 500px;
}

@media (min-width: 540px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
    max-width: 800px;
  }
}

@media (min-width: 960px) {
  .card-grid {
    grid-template-columns: repeat(4, 1fr);
    max-width: 1200px;
  }
}

/* Carrusel horizontal para pantallas pequeñas (móviles) */
@media (max-width: 600px) {
  .card-grid {
    display: flex;
    overflow-x: scroll; /* Desplazamiento horizontal */
    scroll-snap-type: x mandatory; /* Ajuste de desplazamiento */
    -webkit-overflow-scrolling: touch; /* Suavizado para iOS */
  }

  .card {
    flex: 0 0 auto; /* Evita que se estire */
    width: 70%; /* Tamaño reducido de las tarjetas en móviles */
    margin-right: 16px; /* Espacio entre tarjetas */
    scroll-snap-align: start; /* Alineación al inicio del carrusel */
  }
}

.card {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card:before {
  content: '';
  display: block;
  padding-bottom: 125%;
}

.background {
  background-position: center;
  background-size: cover;
  border-radius: 16px;
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: filter 200ms linear, transform 200ms linear;
}

.card:hover .background {
  transform: scale(1.05);
  filter: none;
}

.card-grid:hover > .card:not(:hover) .background {
  filter: brightness(0.6) saturate(1) contrast(1.2) blur(5px);
}

.card-grid:hover > .card:not(:hover) .content {
  filter: brightness(0.8) blur(2px);
}

.content {
  padding: 16px;
  position: absolute;
  top: 0;
  left: 0;
}

.category {
  color: #e1e1e1;
  font-family: anton regular;
  font-size: 1.5rem;
  margin-bottom: 4px;
  text-transform: uppercase;
}

.heading {
  color: #e1e1e1;
  font-family: Stretch Pro;
  font-size: 1.3rem;
}
